* {
  margin: 0;
  padding: 0;

/* CABEZA */

}
body {
  background-image: url('https://img.freepik.com/vector-gratis/fondo-damasco-patrones-fisuras_1217-851.jpg'); 
}
.barra {
  display: flex;              
  justify-content: space-between; 
  background-color: #4f3a37;     
  padding: 20px ;       
  border-bottom: 3px solid #d9cdc3; 
}
.titulo {
  font-size: 30px;          
  font-weight: bold;         
  color: white;             
  animation: brillo 1s infinite alternate;

}
@keyframes brillo {
  0% {
    text-shadow: 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff;
  }
  100% {
    text-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff;
  }
}

.contenido a {
  color: white;               
  text-decoration: none;       
  margin-left: 20px;          
  font-size: 18px;            
}
.contenido a:hover {
  color: #ffffff;              
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff; /* Brillo */
}





/* COMPRAS */
.Compras {
  font-family: Arial, sans-serif;
  display: flex;
  
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ffffff;
}

.cuadro-contenedor {
  padding: 50px; 
  background-color: #4f3a37;
  border: 1px solid #ffffff; 

}

#contenedor-rectangulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}


















/* CRONOMETRO */

.contenedor-principal {
  border: 1px solid #ffffff;
  color: #ffffff; 
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  background-color: #4f3a37;
  padding: 20px; 
}

.contenedor-interno {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 5px; 
}

.encabezado {
  font-size: 30px;
  margin-bottom: 10px; 
  border: #ffffff;
}

#cronometro {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Sans Thai', sans-serif;
 
}

.contenedor-botones {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
}

.boton {
  width: 50px;
  height: 50px;
  margin: 5px; 
}

#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i {
  background-color: #ffffff;
}

#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i {
  background-color: #ffffff;
}

#boton-reiniciar {
  background-color: rgb(255, 255, 255);
}

#boton-inicio-pausa i {
  font-size: 30px; 
}

#boton-reiniciar i {
  font-size: 30px; 
}




.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  

}


.related-post {
  background: #4f3a37;
  color: #ffffff;
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  border: 1px solid #ffffff; 
 
}

.related-post:hover {
  cursor: pointer;
  color: #000000;
  background: #ffffff;
}

.sobre-nosotros {
  text-decoration: none; 
  color: inherit; 
}

@media screen and (max-width: 768px) {

  .barra {
    flex-direction: column; 
    align-items: center; 
    text-align: center;
  }

  .titulo {
    font-size: 24px; 
    margin-bottom: 10px; 
  }

  .contenido a {
    font-size: 16px;
    margin-left: 0; 
    margin-bottom: 10px; 
    display: inline-block; 
    width: 200px; 
    height: 20px;
    text-align: center; 
    line-height: 40px;
    padding: 0; 
  }

  .Compras {
    padding: 10px; 
  }

  #contenedor-rectangulos {
    flex-direction: column; /
    align-items: center; 
    gap: 15px; 
  }

  .contenedor-principal {
    flex-direction: column;
    padding: 10px; 
  }

  #cronometro {
    font-size: 24px; 
    text-align: center;
  }

  .boton {
    width: 40px; 
    height: 40px;
  }


  .grid-container {
    grid-template-columns: 1fr; 
   
  }

  .related-post {
    height: auto;
    padding: 10px; 
    font-size: 14px;
  }

  body {
    background-size: cover; 
    background-attachment: fixed; 
  }

